<!DOCTYPE html>
<html ng-app="eCommerce">
  <head>
      <title>eCommerce</title>
      <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Post An Article</title>
      
  </head>
  <body>
      <div class="container">   
      <nav class="navbar navbar-default" role="navigation" style="margin-top:10px;">
      <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header"><a class="navbar-brand">E-Commerce</a></div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>

          <ul class="nav navbar-nav navbar-right" style="padding:10px;">
          
  
    <% if user_signed_in? %>
      <span class="glyphicon glyphicon-user"></span>&nbsp; <%= current_user.email %>. Not you? <button class="btn btn-default"><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></button>
    <% else %> 
    <!-- <button class="btn btn-default"><%= link_to "Sign up", new_user_registration_path %></button> or  --><button class="btn btn-default"><%= link_to "sign in", new_user_session_path, :method => :get %></button>
    <% end %>
        </li>
      </ul>
    </li>
  </ul>
</div><!-- /.navbar-collapse -->
</nav>

<% flash.each do |name, msg| %>
<div class="alert alert-info" role="alert">
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
      </div>
    <% end %>


<%= yield %>

<br/></div>
<div class="container"> 
 <div class="panel-footer">
      <p style="text-align:center; margin-top:15px;">&copy;2014 All Rights Received.</p>
    </div></div>
</body>
</html>
